body, .bg-gray{
  background-color: rgb(39, 43, 65);
  background: -moz-linear-gradient(top,  #0e0d1b 0%, #322441 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #0e0d1b 0%,#322441 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #0e0d1b 0%,#322441 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: rgb(226, 217, 254) !important;
}


.border-bottom{
    border-color: rgb(39, 43, 65) !important;
}

.Header-link{
  text-shadow: 1px 1px 20px #784fe9;
}

.link-gray{
  color: #b572ee !important;
  text-shadow: none;
}

.link-gray:hover{
    color: #d9affc !important;
}

.link-gray-dark{
  color: #b572ee !important;
  text-shadow: none;
}

.link-gray-dark:hover{
  color: #d9affc !important;
}


.repohead.experiment-repo-nav{
  background-color:rgb(35, 29, 58);
  -webkit-box-shadow: -2px 18px 37px -23px rgba(20, 20, 20, 1);
  -moz-box-shadow: -2px 18px 37px -23px rgba(20, 20, 20, 1);
  box-shadow: -2px 18px 37px -23px rgba(20, 20, 20, 1);
}
.pagehead{
  border: none;
}
.Header{
  background-color: rgb(24, 23, 38);
}

.reponav-item, .reponav-item .octicon{
  color: rgb(163, 108, 224) !important;
}
.reponav-item:hover{
  color: rgb(168, 137, 203) !important;
}


.reponav-item.selected{
  background-color: rgb(39, 43, 65);
/* border-color: #8c6be9, #8c6be9, rgb(160, 133, 249) !important; */
border: none !important;
color: rgb(198, 176, 253) !important
}

.numbers-summary .nolink, .numbers-summary a, .octicon{
  color: rgb(226, 217, 254) !important;
}

.text-emphasized{
  color: rgb(180, 143, 247) !important;
}

.text-gray{
  color: rgb(197, 179, 255) !important;

}

.text-gray-dark{
  color: rgb(197, 179, 255) !important;

}

.btn-link{
  color: rgb(95, 81, 245);
}

.Box{
  border-color: #0e0d1b;
}

.Box-body{
background-color: #0e0d1b !important;
border-bottom: #0e0d1b !important;
}


.Box-header{
  background-color: #0e0d1b;
  color: rgb(226, 217, 254) !important;
  border-color: #0e0d1b;
}


.markdown-body img{
  -webkit-box-shadow: -2px 18px 37px -23px rgba(20, 20, 20, 1);
  -moz-box-shadow: -2px 18px 37px -23px rgba(20, 20, 20, 1);
  box-shadow: -2px 18px 37px -23px rgba(20, 20, 20, 1);
}


.subnav-item.selected, .subnav-item.selected:focus, .subnav-item.selected:hover, .btn{
  color: rgb(226, 217, 254) !important;
  background-image: linear-gradient(-180deg,rgb(57, 38, 93),rgb(57, 40, 94) 90%);

}

.btn.selected, .btn:active, [open]>.btn{
  color: black;
}

.btn.selected, .btn:active, .btn:hover{
  background-image: linear-gradient(-180deg,#605a96,#4e4895 90%);
  border-color: #605a96;
  transition: 0.56s;

}
.btn-primary{
  background-image:linear-gradient(-100deg,#27253e,#1b1a2b 90%) !important;
  box-shadow: none;
  border: none;
}

.dropdown-menu{
  background: #0e0d1b;
  border-bottom: #0e0d1b !important;
  -webkit-box-shadow: 14px 28px 40px -24px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 14px 28px 40px -24px rgba(0, 0, 0, 0.9);
  box-shadow: 14px 28px 40px -24px rgba(0, 0, 0, 0.9);
}

.file-navigation .get-repo-btn{
  border: none;
}

.team-mention, .user-mention, .commit-tease-sha{
  color: rgb(226, 217, 254) !important;
}
.commit-tease{
  background-color: #0e0d1b;
  color: rgb(226, 217, 254) !important;
border: none;
}

table.files td{
  color: rgb(226, 217, 254) !important;
  background: rgb(29, 19, 47);
  border: none;
}

table.files tr.navigation-focus td, table.files tr[aria-selected=true] td{
  background-color: rgb(35, 27, 50);
  transition: 1s;
border: none;

}

.file-wrap{
  border: none;
}

.js-navigation-open{
  text-shadow: none !important;
}

.numbers-summary .nolink, .numbers-summary a, .octicon{
  color: rgb(160, 119, 172) !important;
}


.select-menu-divider, .select-menu-header{
  background: #0e0d1b;
  border-bottom: 1px solid #16142e;
}

.select-menu-divider, .select-menu-header .select-menu-title{
  color: rgb(160, 119, 172) !important;
}

.select-menu-filters{
  background:rgb(35, 29, 58);
  color: rgb(95, 81, 245);

  border: none;
}

.select-menu-item{
  background: rgb(45, 43, 65);
  color: rgb(95, 81, 245);

  border: none;

}
.select-menu-tabs .select-menu-tab-nav.selected, .select-menu-tabs .select-menu-tab-nav[aria-selected=true], .select-menu-tabs a.selected, .select-menu-tabs a[aria-selected=true]{
  background: rgb(45, 43, 65);
  color: rgb(95, 81, 245);
  transition: 1s;
  border: none;

}
.select-menu-item.navigation-focus, .select-menu-item.navigation-focus .description-inline, .select-menu-item.navigation-focus.select-menu-action, .select-menu-item.navigation-focus.selected, .select-menu-item:focus, .select-menu-item:focus .description-inline, .select-menu-item:focus.select-menu-action, .select-menu-item:focus.selected, .select-menu-item:hover, .select-menu-item:hover .description-inline, .select-menu-item:hover.select-menu-action, .select-menu-item:hover.selected, .select-menu-item[aria-checked=true]:focus, .select-menu-item[aria-checked=true]:hover, .select-menu-item[aria-selected=true] .description-inline, .select-menu-item[aria-selected=true].select-menu-action, .select-menu-item[aria-selected=true]:focus, .select-menu-item[aria-selected=true]:hover{
  background: #0e0d1b;
  color: rgb(200, 195, 255) !important;
  border: none;
  transition: 1s;

}

.select-menu-tabs{
  border: none;
}

.select-menu-item.selected, details-menu .select-menu-item[aria-checked=true], details-menu .select-menu-item[aria-selected=true]{
  color: rgb(197, 179, 255) !important;
  transition: 1s;
}

.social-count, .btn.disabled{
  color: rgb(226, 217, 254) !important;
  background-image: linear-gradient(-180deg,#2c2a47,#1c1b28 90%);
  border-color: #2c2a47 !important;
  }

/* menu sobre o perfil */
  .header-nav-current-user .user-profile-link{
text-shadow: none !important;
color: #c98ffb !important;

  }

.dropdown-item{
  color: #c98ffb !important;
  text-shadow: none !important;
}

.blankslate{
  background-color: #0e0d1b;
  border: none;
}

.table-list-header{
  background-color: #0e0d1b;
border: none;
}

.table-list-header-toggle .btn-link.selected{
  text-shadow: none !important;
  color: rgb(95, 81, 245);
}

.table-list-header-toggle, .btn-link.selected, .btn-link+.btn-link{
  text-shadow: none !important;
  color: rgb(95, 81, 245);
}

.btn-link:hover{
  color: rgb(92, 48, 74) !important;
}

.menu, .menu-item{
  background-color: #0e0d1b;
   border: none;
  color: rgb(226, 217, 254) !important;
}

.menu-item.selected{
  background-color: #171528;
  color: rgb(193, 185, 218) !important;
}

.menu-item:hover{
  background-color: #191736;
}

/* ol, ul{
  background-color: #0e0d1b;
   border: none;
  color: rgb(226, 217, 254) !important;
} */

.summary-stats li .num{
  color: rgb(160, 119, 172) !important
}

.summary-stats li{
  color: rgb(160, 119, 172) !important
}

.diffstat-summary{
  color: rgb(226, 217, 254) !important;
}
.diffstat-summary strong{
  color: rgb(243, 240, 255) !important;
}

.p-4, .summary-stats{
  border:none !important;
  background-color: #0e0d1b;
}

.user-profile-nav{
  background-color:rgb(35, 29, 58);
  border:none;
  -webkit-box-shadow: -2px 18px 37px -23px rgba(20, 20, 20, 1);
  -moz-box-shadow: -2px 18px 37px -23px rgba(20, 20, 20, 1);
  box-shadow: -2px 18px 37px -23px rgba(20, 20, 20, 1);
}

.UnderlineNav-item.selected{
  color: rgb(116, 221, 226) !important;
  text-shadow: 0 0 3vw #80c6ff;
  border-bottom-color:rgb(116, 221, 226) !important;
}

.UnderlineNav-item{
  color: rgb(160, 133, 249) !important;
  border-bottom-color: rgb(160, 133, 249) !important;
}

.UnderlineNav-item:focus, .UnderlineNav-item:hover{
  color: rgb(184, 133, 249) !important;
    border-bottom-color:#b885f9 !important;
    transition: 0.67s;
    text-shadow: 0 0 3vw #cf80ff;

}

.Box{
  background-color:rgb(35, 29, 58);
  -webkit-box-shadow: -2px 18px 37px -23px rgba(20, 20, 20, 1);
  -moz-box-shadow: -2px 18px 37px -23px rgba(20, 20, 20, 1);
  box-shadow: -2px 18px 37px -23px rgba(20, 20, 20, 1);
  border:none;
}
/*
.calendar-graph rect[fill="#ebedf0"], .contrib-legend li[style*="#ebedf0"]{
    background-color:#272b41 !important;
    fill: #272b41!important;
}

.calendar-graph rect[fill="#c6e48b"], .calendar-graph rect[fill="#7bc96f"], .calendar-graph rect[fill="#239a3b"], .calendar-graph rect[fill="#196127"], .heat, .contrib-legend li{
background-color: purple !important;
fill: purple !important;
}

rect[fill="#7bc96f"], ul.legend li:nth-child(3){

}

rect[fill="#239a3b"], ul.legend li:nth-child(4){

}

rect[fill="#196127"], ul.legend li:nth-child(5){

} */



/* contribution calendar and blame heats */

.calendar-graph rect[fill="#c6e48b"],
.calendar-graph rect[fill="#7bc96f"],
.calendar-graph rect[fill="#239a3b"],
.calendar-graph rect[fill="#196127"],
.heat,
.contrib-legend li {
    background-color: #d647fa !important;
    fill: #d647fa !important;
    -webkit-box-shadow: -16px 21px 101px -23px rgba(20, 20, 20, 1);
    -moz-box-shadow: -16px 21px 101px -23px rgba(20, 20, 20, 1);
    box-shadow: -16px 21px 101px -23px rgba(20, 20, 20, 1);
  }

.calendar-graph .days-selected rect.day.active {
    stroke: red !important;
}

.calendar-graph rect.day:hover {
    stroke: rgb(160, 145, 215) !important;
    transition: 2s !important;


}


/* contribution calendar - regular colors */

.calendar-graph rect[fill="#ebedf0"],
.contrib-legend li[style*="#ebedf0"] {
    background-color: rgb(54, 57, 93) !important;
    fill: rgb(54, 57, 93) !important;
}

.heat[data-heat="1"],
.heat[data-heat="2"],
.calendar-graph rect[fill="#c6e48b"],
.contrib-legend li[style*="#c6e48b"] {
    opacity: .25 !important;
}

.heat[data-heat="3"],
.heat[data-heat="4"],
.calendar-graph rect[fill="#7bc96f"],
.contrib-legend li[style*="#7bc96f"] {
    opacity: .5 !important;
}

.heat[data-heat="5"],
.heat[data-heat="6"],
.calendar-graph rect[fill="#239a3b"],
.contrib-legend li[style*="#239a3b"] {
    opacity: .75 !important;
}

.heat[data-heat="7"],
.heat[data-heat="8"],
.calendar-graph rect[fill="#196127"],
.contrib-legend li[style*="#196127"] {
    opacity: 1 !important;
}

.p-3{
  display: none;
}

.border-gray-dark{
  border: none !important;
  /* border-color: rgb(88, 67, 112); */
  -webkit-box-shadow: 14px 28px 40px -24px rgba(28,28,28,1);
  -moz-box-shadow: 14px 28px 40px -24px rgba(28,28,28,1);
  box-shadow: 14px 28px 40px -24px rgba(28,28,28,1);
}

.p-2{
  background-color:rgb(24, 23, 38);
}


.avatar-before-user-status{
  border: none !important;
    }
.user-profile-sticky-bar:after{
    background-color:rgb(35, 29, 58) !important;
    border-color: rgb(35, 29, 58) !important;
}


.jump-to-suggestions-results-container .navigation-focus .jump-to-suggestions-path, .jump-to-suggestions-results-container [aria-selected=true] .jump-to-suggestions-path{
  background-color: rgb(41, 36, 70) !important;
  color: rgb(150, 247, 240);
}
.jump-to-suggestions-results-container .navigation-item{
  border:none;
}
.jump-to-suggestions-path{
  color: #c98ffb;
  text-shadow: 1px 1px 20px #784fe9;

}
.header-search-wrapper{
  background-color: rgb(25, 17, 32);
  color: rgb(186, 130, 241);
}
.jump-to-field-active{
  background-color: rgb(25, 17, 32) !important;
  color: rgb(186, 130, 241) !important;
}

.ajax-pagination-form .ajax-pagination-btn{
  background-color:rgb(24, 23, 38);
  border:none !important;

}

.profile-timeline-card-wrapper, .p-2{
  background-color:rgb(57, 38, 93);
  border:none !important;
}

.bg-white{
  background-color: rgb(39, 43, 65) !important;
}

.discussion-item-icon{
  background-color: rgb(39, 43, 65) !important;
  border: rgb(30, 34, 56) ;
  -webkit-box-shadow: -2px 18px 37px -23px rgba(20, 20, 20, 1);
  -moz-box-shadow: -2px 18px 37px -23px rgba(20, 20, 20, 1);
  box-shadow: -2px 18px 37px -23px rgba(20, 20, 20, 1);
}


/*teste*/

.py-4 {
    padding-bottom: 24px!important;
    padding-top: 24px!important;
    color: black !important;
    /* background-color: pink; */
    border: none !important;
    -webkit-box-shadow: 14px 28px 40px -24px rgba(28,28,28,1);
    -moz-box-shadow: 14px 28px 40px -24px rgba(28,28,28,1);
    box-shadow: 14px 28px 40px -24px rgba(28,28,28,1);
    padding-right: 3%;


}

/* /teste */

.muted-link {
    color: #daebff!important;
}
.muted-link:hover{
  color: #b2a5f1!important;
}

a {
    color: #a1d2e6;
    text-decoration: none;
    /* text-shadow: 2px 0 10px #80c6ff; */
}

.progress-bar{
  background-color: rgb(101, 215, 165) !important;
}

.form-control, .form-select{
  background-color: rgb(25, 17, 32);
  color: rgb(186, 130, 241);
  border: none !important;
}


.filter-item.selected{
  background-color: #312340;
}


.dropdown-item.zeroclipboard-is-hover, .dropdown-item:focus, .dropdown-item:hover{
  background-color: #312340;
}
